*{
    padding: 0;
    margin: 0
}
h1{
    font-size: 20px;
}
p{
    width: 200px;
    height: 200px;
    font-size: 16px;
    border: 1px solid red;
}
.s1{
    width: 50vw;
    height:50vh;
    border: 1px solid red;
}
.s2 {
    width: 70%;
    height:50%;
    border: 1px solid red;
}
.s3{
    width: 200px;
    height:200px;
    border: 1px solid red;
}
 /* REM Em */


.s4{
    font-size: 20px;
}
.s5{
    font-size: 5rem;
}
