ul >li:nth-child(odd){
    color: blue;
}
ul >li:nth-child(even){
    color: red;
}
button:hover{
    background-color: yellow;
    cursor: pointer;
}
button:active{
    background-color: green;
    cursor: pointer;
}
p::before {
    content: "Read this: ";
    font-weight: bold;
}
p::after{
    content: "end this: ";
    font-weight: bold;
}
p::first-line {
    font-weight: bold;
    color: blue;
}
p::first-letter {
    font-size: 150%;
    color: red;
}
p::before {
    background-color: yellow;
    color: black;
}