*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;

}
div{
  background-color: gray;
  height: 600px;
  overflow-x: hidden;

}
hr{
  border: 10px dashed #fff;
  width: 100%;
  position: absolute;
  top:300px;
 

}
img{
  height: 250px;
}
.car2{
  position: absolute;
  left: 0;
  bottom: 250px;
  animation: racecar2 5s cubic-bezier(0.74, 0.46, 0.2, 0.65)  infinite alternate forwards;
}
.car1{
 animation-name: racecar1;
 animation-duration: 5s;
 animation-fill-mode: forwards;
 animation-direction: alternate;
 animation-iteration-count: infinite;
 animation-timing-function: cubic-bezier(0.74, 0.46, 0.2, 0.65);
}
@keyframes racecar1 {
  0%{
    transform: translateX(0vw);
  }
  100%{
    transform: translateX(120vw);
  }
  
}
@keyframes racecar2 {
  0%{
    transform: translateX(0vw);
  }
  70%{
    transform: translateX(50vw) rotateZ(-30deg);
  }
  100%{
    transform: translateX(120vw);
  }
  
}
